################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Archivos de Visual Studio
.vs/
*.user
*.suo
*.db
*.opensdf

# Carpetas de compilación
bin/
obj/
x64/
Debug/
Release/

# Archivos de sistema
Thumbs.db
Desktop.ini
/Usuarios.txt
/Reservas.txt
/productos.txt
/Pedido.txt
/Mesas.txt
/Historial.txt
/SistemaRestauranteGUI/Usuarios.txt
/SistemaRestauranteGUI/Reservas.txt
/SistemaRestauranteGUI/productos.txt
/SistemaRestauranteGUI/Pedido.txt
/SistemaRestauranteGUI/Mesas.txt
/SistemaRestauranteGUI/Historial.txt
